.flex {
    display: flex;
}
.htmx-indicator {
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}


.fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.htmx-indicator.htmx-request ~.row{
    opacity: 0.3;
}

.invalid-feedback strong{
    color: rgb(235, 94, 40);
    font-size: 1.3rem;
}